@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*,
:after,
:before {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 100%; /* 100% = 16px = 1rem*/
}
h1, h2, h3 {
    font-family: 'Nota Sans';
}
h2 {
    font-size: 2.5rem;
}
p, ul {
    font-family: 'League Spartan';
}
.fontleague {
  font-family: "League Spartan";
  font-size: x-large;
}
.fontnota {
  font-family: "Nota Sans";
}
body {
    margin-left: 10%;
   margin-right: 10%;
    font-family: "Noto Sans";
    font-size: 1rem; /* 1rem * 16px = 16px */
    color: #fff;
    background-color: #ab4493;
}
.aligncenter {
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.boton {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  padding-left: 0.1px;
  padding-right: 0.1px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 10px solid #000000;
  border-radius: 10px;
  width: 250px;
  margin: 10px auto;
  font-family: 'League Spartan';
  font-size:x-large;
  min-width: 130px;
}
.boton a {
  color: #ffffff;
  text-decoration: none;
}
.wrapper {
    margin: auto;
    max-width: 75rem; /* 75rem = 75 * 16px = 1200px */
}
aside,
header,
main,
section {
    display: block;
    margin: 0;
    padding: 1.25rem; /* 1.25 * 16 = 20px */
    border: 1px ;
    color: #fff;
}
main {
    background:#ab4493
}
.header {
    background:#ab4493
}
.hero {
    background: #d22b1f;
}
@media screen and (min-width: 640px) { /* declaración de media query: de 640px hacia arriba */
    .flex-container {
        display: flex;
    }
}
.content {
    flex: 1;
    background: #129a22;
}
.sidebar {
    flex: 0 1 300px; /* ancho fijo de 300px */
    background: #673ab7;
}
.columna1 {
    flex: 1;
    background:#ab4493; 
}
.columna2 {
    flex: 0 1 50%; /* columna del 50% del ancho de la pantall */
    background:#ab4493; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}
.centradov {
  align-items: center;
}
.alignleft {
  text-align: left;
}
.espaciado2 {
  padding: 50px;
  border-radius: 20px;
  background-color: #ffffff;
  align-items: center;
  color: #000;
}
.centeralign {
  align-items: center;
  text-align: center;
}
.justify {
  text-align: justify;
}
.sidebar {
    border: 1px solid #000;
   background: #616161;
}
.texto-centrado {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}
.celeste {
    color: aquamarine;
}
.cielo {
    background-image: linear-gradient(to right, #ffffff00, #000000FF), url('images/cielo.jpg');
    background-position: center center;
    background-size: cover;
}
.botonform2 {
    color: #fff;
    background: rgb(131,58,180);
    background: linear-gradient(231deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 20px;
    width: 150px;
    margin: 10px auto;
}
/* MENU */
.header {
  font-family: 'League Spartan';
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ab4493;
  color: #ab4493#fff;
  padding: 10px 20px;
  font-family: 'League Spartan';
}
.button_container {
  position: fixed;
  top: 8%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}
@media (max-width: 768px) { /*media query: reglas para cuando pantalla mida menos de 768px*/ 
  .button_container {
      top: 10%;
      right: 10%;
  }
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #ffffff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 1;
}
.overlay.open li {
  animation: fadeInRight .5s ease forwards;
  animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'League Spartan';
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.margenicono {
  margin: 10px;
}

  

